body {
  left-padding: 55px;
  background-color: grey;
}

ul {
  position: sticky;
  top: 0;
  list-style-type: none;
  width: 85%;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #d29c5a;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #d8bb7a;
}

.Paper {
  width: 85%;
  background-color: white;
  color: black;
  margin: auto;
  padding: 25px;
}

#sep {
  border-bottom: 1px, gray, solid;
}

.secret {
  color: #1f1f1f;
}

.secret::selection {
  color: gray;
}
